{%  load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Appointment</title>
    <link rel="stylesheet" href="{% static "assets/css/index.css" %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
</head>
<body class="appointment">
    <header id="header" >
        <div class="top-nav">
            <div class="top-nav-left">

                <div class="top-nav-email-location">
                    <div class="top-nav-location">
                        <div class="top-nav-location-icon">
                            <i class="bi bi-geo-alt-fill">

                            </i>
                        </div>
                    </div>
                    <div class="top-nav-email">
                        <div class="top-nav-location-text">
                            <p>
                                Chichiri, Blantyre, Malawi
                            </p>
                        </div>
                        <span class="line">

                        </span>
                        <div class="top-nav-email-icon">
                            <i class="bi bi-envelope-fill">

                            </i>
                        </div>
                        <div class="top-nav-email-text">
                            <a href="">
                                taongazmtzimba@gmail.com
                            </a>
                        </div>

                    </div>
                </div>
                
                

            </div>
            <div class="top-nav-right">
                <div class="top-nav-links">
                    <div class="top-nav-normal-links">
                        <a href="" class="top-nav-normal-link">
                            Help
                            
                        </a>
                        <span class="social-line">

                        </span>

                        <a href="" class="top-nav-normal-link">
                            Support
                        </a>
                        <span class="social-line">

                        </span>
                        <a href="" class="top-nav-normal-link">
                            Contact
                        </a>

                    </div>
                    <div class="top-nav-social-links">
                        <a href="" class="top-nav-social-link">
                            <i class="bi bi-facebook"></i>
                        </a>
                        <a href="" class="top-nav-social-link">
                            <i class="bi bi-twitter"></i>
                        </a>
                        <a href="" class="top-nav-social-link">
                            <i class="bi bi-instagram"></i>
                        </a>
                        <a href="" class="top-nav-social-link">
                            <i class="bi bi-linkedin"></i>
                        </a>
                    </div>
                </div>

            </div>
        </div>
        <nav>
            <div class="nav-logo">
                <a href="{% url 'homepage' %}">
                    <img src="{% static "assets/images/logo.png" %}" alt="">
                </a>

            </div>
            <div class="nav-links-container">
                <ul class="nav-links">
                    <li class="nav-link-main ">
                        <a href="{% url 'homepage' %}"  class="main-link">HOME</a>
                    </li>
                    <li class="nav-link-main">
                        <a href="{% url 'chat' %}" class="main-link">CHAT</a>
                    </li>
                    <li class="nav-link-main active">
                        <a href="{% url 'book_appointment' %}" class="main-link">APPOINTMENTS</a>
                    </li>
                    <li class="nav-link-main">
                        <a href="{% url 'register_page' %}" class="main-link">ACCOUNT</a>
                    </li>
                    
                    
                </ul>

            </div>
            <div class="search-contact">
                <div class="search-contact-lines">
                    <span class="line-one"></span>
                    <span class="line-two"></span>
                </div>
                <div class="search-contact-contact">
                    
                    {% if user.is_authenticated %}
                    <a href="{% url 'logout_page' %}"><button>Logout</button></a>
                    {% else %}
                    <a href="{% url 'login_page' %}"><button>Login</button></a>
                    {% endif %}
                    
                </div>
                <div class="nav-opener">
                    <i class="bi bi-list" id="open-nav"></i>
                </div>

            </div>

        </nav>
        <div class="mobile-nav">
            <div class="nav-container">
                <div class="logo-close">
                    <img src="{% static "assets/images/logo.png" %}" alt="">
                    <i class="bi bi-x" id="close-nav">

                    </i>
                </div>
                <div class="mobile-links">
                    <ul class="mobile-nav-links">
                        <li class="mobile-nav-link-main drop-down-main active">
                            <a href="{% url 'homepage' %}"  class="mobile-main-link">HOME
                                
                            </a>
                            
                        </li>
                        <li class="mobile-nav-link-main">
                            <a href="{% url 'chat' %}" class="mobile-main-link">CHAT
                                
                            </a>
                        </li>
                        <li class="mobile-nav-link-main drop-down-main">
                            <a href="{% url 'book_appointment' %}" class="mobile-main-link">APPOINTMENT
                                
                            </a>
                            
                        </li>
                        <li class="mobile-nav-link-main ">
                            <a href="{% url 'register_page' %}" class="mobile-main-link border-bottom">CREATE ACCOUNT
                                
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="mobile-social-links">
                    <a href="">
                        <i class="bi bi-facebook"></i>
                    </a>
                    <a href="">
                        <i class="bi bi-twitter"></i>
                    </a>
                    <a href="">
                        <i class="bi bi-instagram"></i>
                    </a>
                    <a href="">
                        <i class="bi bi-linkedin"></i>
                    </a>

                </div>
                <div class="mobile search-contact-contact">
                    {% if user.is_authenticated %}
                    <a href="{% url 'logout_page' %}"><button>Logout</button></a>
                    {% else %}
                    <a href="{% url 'login_page' %}"><button>Login</button></a>
                    {% endif %}
                    
                </div>
                
                
            </div>

        </div>

    </header>
    <main class="appointment">
        <div class="appointment-form section-padding">
            <form action="{% url 'book_appointment' %}" method = 'POST'>
                {% csrf_token %}        
                <h6>Appointment form </h6>
                <div class="side-by-side">
                    <div class="left">
                        <label for="">Reason</label>
                            {{ form.reason }}
                    </div>
                    <div class="right">
                        <label for="Date"> Date (required)</label>
                        <input type="date" name="date" id="date" value="{{ form.date }}">
                       
                    </div>
                    
                </div>
                <div class="side-by-side">
                    <div class="left">
                        <label for="">Your Fullname Name (required) </label>
                        {{ form.fullname }}
                    </div>

                    <div class="right">
                        <label for=""> Phone (required)</label>
                        {{ form.phonenumber }}
                    </div>
                    
                </div>
                <div class="side-by-side">
                    <div class="left">
                        <label for="">Your Email (required) </label>
                        {{ form.email }}
                    </div>
                    <div class="right">
                        <label for="">Description (Optional)</label>
                        {{form.description}}
                     </div>
                </div>
                

                <div class="submit" style="display: flex; justify-content: center; align-items: center;">
                    <button type="submit">
                        Submit
                    </button>
                </div>
            </form>
            <div class="description">
                <h6>Book an appointmet</h6>
                <p>
                    Welcome, 
                    Thanks for joinig with us. for more help contact us.
                </p>
                <div class="contact">
                    <div class="icon">
                        <i class="bi bi-telephone">

                        </i>
                    </div>
                    <div class="text">
                        <p>+265993841718</p>
                    </div>
                </div>
                <div class="contact">
                    <div class="icon">
                        <i class="bi bi-envelope">

                        </i>
                    </div>
                    <div class="text">
                        <p>taongazmtzimba@gmail.com</p>
                    </div>
                </div>
                <a href="#form" class="contact">
                    <div class="icon">
                        <i class="bi bi-pencil">

                        </i>
                    </div>
                    <div class="text">
                        <p>fill the form</p>
                    </div>
                </a >
                <h6>After Booking</h6>

                <p>Hi fill in the details and submit the form. We will contact you via phone or email and fix a time schedule.</p>

                <p>These are the thing you need to carry with you when you come in for the appointment wit the doctor.</p>

                    <span><i class="bi bi-chevron-right"></i>Previous Medical History</span>
                    <span><i class="bi bi-chevron-right"></i>list of medications</span>
                    <span><i class="bi bi-chevron-right"></i>symptoms journal</span>
                    <span><i class="bi bi-chevron-right"></i>Make sure you have your ID</span>
                    <span><i class="bi bi-chevron-right"></i>Have someone eith you</span>

                <span class="bold">Have a healthy life!</span>

            </div>
        </div>

        
        

    </main>
    <a class="scroll-top scroll-to-target" id="back-to-top" href="#">
        <i class="bi bi-chevron-up"></i>
    </a>
    <footer class="section-padding padding-bottom">
        <div class="top">
            <div class="left-container">
                <div class="footer-heading-location">
                  <div class="heading">
                    <p class="bold larger">Contact Us</p>
                  </div>
                  <div class="list-items">
                    <p class="not-link">Medical clinic</p>
                    <p class="not-link">Blantyre</p>
                    <p class="not-link">Malawi</p>
                    <div class="contact-info">
                      <p class="not-link"><i class="bi bi-telephone  white"></i>&nbsp;<span class="white">Phone : </span>+265993841718</p>
                      <p class="not-link"><i class="bi bi-envelope  white"></i>&nbsp;<span class="white">Email : </span>grptelehealth@gmail.com</p>
                    </div>
                  </div>
                </div>
                <div class="footer-heading">
                  <div class="heading">
                    <p class="bold larger">Useful Links</p>
                  </div>
                  <div class="list-items">
                    <ul class="gray">
                      <li><a href="{% url 'homepage' %}">Home</a></li>
                      <li><a href="{% url 'login_page' %}">Login</a></li>
                    </ul>
                  </div>
                </div>
                <div class="footer-heading">
                  <div class="heading">
                    <p class="bold larger">Our Feautres</p>
                  </div>
                  <div class="list-items">
                    <ul class="gray">
                      <li><a href="{% url 'chat' %}">Chats</a></li>
                      <li><a href="{% url 'book_appointment' %}">Appointment</a></li>
                      
                      
                    </ul>
                  </div>
                </div>
              </div>
          
          <div class="footer-heading last">
            <div class="logo">
              <a href="">
                <img src="{% static "assets/images/logo.png" %}" alt="logo">
                
              </a>
              
            </div>
            <div class="social-links">
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
            </div>
          </div>
        </div>
        
    </footer>
    <script src="{% static "assets/js/main.js" %}"></script>
    
    
</body>
</html>